.App {
  font-family: "Quicksand", sans-serif;
}

.Header {
  background-color: lightcoral;
  text-align: center;
  padding: 1em;
  color: white;
}

.Filters {
  text-align: center;
}

.Filters button {
  background-color: lightgoldenrodyellow;
  border: none;
  color: green;
  padding: 1em 2em;
  margin: 1em;
  border-radius: 3px;
}

.Filters .active {
  border: 1px solid coral;
}

.TodoList {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.Todo {
  width: 50%;
  padding: 1em;
  margin: .5em auto;
  background-color: lightgoldenrodyellow;
  overflow: auto;
}

.Todo input {
  float: left;
  font-size: 10em;
}

.Todo .delete {
  font-size: 1em;
  font-weight: 800;
  border: none;
  background-color: transparent;
  float: right;
  color: coral;
}

.TodoInput {
  margin-top: 3em;
  text-align: center;
}

.TodoInput input {
  width: 50%;
  padding: 1em;
}