.App {
  font-family: "Quicksand", sans-serif;
}

.Header {
  background-color: lightcoral;
  text-align: center;
  padding: 1em;
  color: white;
}

.Filters {
  text-align: center;
}

.Filters button {
  background-color: lightgoldenrodyellow;
  border: none;
  color: green;
  padding: 1em 2em;
  margin: 1em;
  border-radius: 3px;
  font-size: 1em;
}

.Filters .active {
  border: 1px solid coral;
}

.TodoList {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.Todo {
  position: relative;
  width: 50%;
  padding: 2em;
  margin: .5em auto;
  background-color: lightgoldenrodyellow;
  overflow: auto;
}

.Todo .tickbox {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  z-index: 1;
}


.Todo .content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em 2em;
  font-size: 1em;
  border: none;
  background-color: transparent;
}

.Todo .delete {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
  font-size: 1em;
  font-weight: 800;
  border: none;
  background-color: transparent;
  color: coral;
  z-index: 1;
}

.TodoInput {
  margin-top: 3em;
  text-align: center;
}

.TodoInput input {
  width: 50%;
  padding: 1em;
}